<!-- hero.html -->

<section class="hero">
  <div class="row">

    <div class="hero__hello">
      <p>Карт Регион</p>
        <ul>
          <li>пластиковые карты</li>
          <li>сувенирная продукция</li>
          <li>полиграфические услуги</li>
        </ul>
    </div>
    <div class="row">
       <a href="#product" class="hero__button button large alert slide-to">Виды продукции</a>
       <a href="#slider" class="hero__button button large success slide-to">Примеры работ</a>
    </div>
</section>
<!-- /hero.html -->