<div class="contact-form">
    <form class="contact-form__form" method="post" action="[~[*id*]~]" id="contactForm">
        <input type="hidden" value="contactForm" name="formid">
        <div class="grid-x">
            <div class="contact-form__group [+message.errorClass+] [+message.requiredClass+]">
                <label class="contact-form__label">Ваше имя: </label>
                <input class="contact-form__input" name="name" type="text" value="[+name.value+]">
                <div class="contact-form__error-msg">[+message.error+]</div>
            </div>
            <div class="contact-form__group [+message.errorClass+] [+message.requiredClass+]">
                <label class="contact-form__label">Телефон:</label>
                <input class="contact-form__input" name="phone" type="tel" value="[+phone.value+]">
                <div class="contact-form__error-msg">[+message.error+]</div>
            </div>
            <div class="contact-form__group [+message.errorClass+] [+message.requiredClass+]">
                <label class="contact-form__label">Сообщение:</label>
                <textarea class="contact-form__input contact-form__input--text" name="message">[+message.value+]</textarea>
                <div class="contact-form__error-msg">[+message.error+]</div>
            </div>
            <div class="contact-form__warning">
                Нажимая кнопку «Отправить», даю своё согласие на обработку моих персональных данных и согласие на получение информационных и рекламных рассылок
            </div>
            <div class="cell small-12 text-center">
                <button type="submit" class="button contact-form__button">Задать вопрос</button>
            </div>
        </div>
    </form>
</div>