<footer class="footer">
  <div  class="footer_wrapper">
    <div class="text-large text-center">FOOTER</div>


<!--     <ul class="footer__nav cell small-12 medium-4">
      <li><a href="/" title="Главная" >Главная</a></li>
      <li><a href="/product.html" title="Продуция" >Продукция</a></li>
      <li><a href="/service.html" title="Услуги" >Услуги</a></li>
      <li><a href="/uslugi.html" title="Магазин" >Магазин</a></li>
      <li><a href="/portfolio.html" title="Портфолио" >Портфолио</a></li>
      <li><a href="/informacziya.html" title="Информация">Информация</a></li>
      <li><a href="/kontaktyi.html" title="Контакты" >Контакты</a></li>
    </ul>

    <ul class="footer__contacts cell auto">
      <li>Телефон: <a class="phone" href="tel:+74957602360" title="Позвонить в Карт Регион">+7(495)760-23-60</a></li>
      <li>Электронная почта: <a href="mailto:info@card-r.ru">info@card-r.ru</a></li>
      <li>Skype: <a href="skype:vesia-home?call">vesia-home</a></li>
      <li>ICQ: <img src="http://web.icq.com/whitepages/online?icq=261400681&img=5" alt="Статус UIN"><a href="http://www.icq.com/whitepages/cmd.php?uin=2614000681&action=message" title="написать сообщение">261 400 681</a>  </li>
      <li>Личный кабинет: <a href="[~8~]">войти</a></li>
    </ul>





    <address class="footer__adress cell small-12">
      &copy;
      ООО «КАРТ РЕГИОН»,
      РФ, 125130,
      г. Москва,
      ул. Клары Цеткин,
      28,
      e-mail: <a href="mailto:info@card-r.ru">info@card-r.ru</a>
    </address> -->

  </div>
</footer>