<header class="header grid-container">

    <div class="grid-x">
        <button type="button" class="header__open-menu-trigger cell small-12" data-toggle="offCanvas">
            <span class="header__open-menu-icon"></span> Меню
        </button>

        <a href="[(site_url)]" class="header__logo cell small-6" title="На главную страницу">
            Компания Название
        </a>


        <div class="header__search cell small-4">
            <form action="[~[*id*]~]">
                <input type="text" placeholder="например: смысл">
                <input type="submit" value="Найти">
            </form>
        </div>
    </div>
</header>